<template>
  <q-item clickable v-ripple>
    <q-item-section>{{ name }}</q-item-section>
    <q-item-section>Upload date: {{ date }}</q-item-section>
    <q-item-section>Size: {{ size }}</q-item-section>
    <q-item-section>Layers: {{ layers }}</q-item-section>
    <q-item-section printButton>
      <q-btn color="primary" label="Print" @click="printFile" />
    </q-item-section>
  </q-item>
</template>

<script>
import { defineComponent } from 'vue';
import { LocalStorage, useQuasar } from 'quasar';
import { api } from 'boot/axios';

export default defineComponent({
  name: 'OctoFilesComponent',
  props: {
    name: {
      type: String,
      default: '',
      required: true,
    },

    link: {
      type: String,
      default: '/',
      required: true,
    },

    path: {
      type: String,
      default: '/',
      required: true,
    },

    size: {
      type: Number,
      default: 0,
      required: true,
    },

    date: {
      type: Number,
      default: 0,
      required: true,
    },

    layers: {
      type: String,
      default: '0',
      required: false,
    },
  },
  methods: {
    printFile() {
      const $q = useQuasar();
      const octoprintApiKey = LocalStorage.getItem('OctoprintApiKey');
      // eslint-disable-next-line no-console
      console.debug(`CLICK Print ${this.$props.link}`);
      api.post(`${this.$props.link}`, {
        command: 'select',
        print: true,
      }, {
        headers: { Authorization: `Bearer ${octoprintApiKey}` },
      }).then((response) => {
        if (response.status === 204) {
          $q.notify({
            color: 'positive',
            position: 'top',
            message: 'Print command sent to Octoprint',
            icon: 'check_circle',
          });
        } else if (response.status === 409) {
          $q.notify({
            color: 'negative',
            position: 'top',
            message: 'A Print is already running',
            icon: 'report_problem',
          });
        } else {
          $q.notify({
            color: 'negative',
            position: 'top',
            message: `Print command failed : ${response.data.error}`,
            icon: 'report_problem',
          });
        }
      }).catch((e) => {
        $q.notify({
          color: 'negative',
          position: 'top',
          message: 'Loading failed',
          icon: 'report_problem',
        });
        // eslint-disable-next-line no-console
        console.error(e);
        this.errored = true;
      });
    },
  },
  setup(props) {
    // eslint-disable-next-line no-console
    console.debug(`File ${props.name}`);
  },
});
</script>
