<template>
  <section v-if="errored">
    <h3>Error while accessing Octoprint API</h3>
  </section>
  <section v-else>
    <div v-if="loading">Loading ...</div>
    <div v-else>
      <div>
        <q-linear-progress
          :value="toolTempProgress"
          color="accent"
          track-color="grey-5"
          rounded size="15px"
          class="q-mt-sm"
        />
        Temperature of tool0 :
        {{ toolTempActual }} / {{ toolMaxTemp }}
        Target of tool0 :
        {{ toolTempTarget }}
      </div>
      <div>
        <q-linear-progress
          :value="bedTempProgress"
          color="accent"
          track-color="grey-5"
          rounded size="15px"
          class="q-mt-sm"
        />
        Temperature of the bed :
        {{ bedTempActual }} / {{ bedMaxTemp }}
        Target of the bed :
        {{ bedTempTarget }}
      </div>
    </div>
  </section>
</template>

<script>
import { defineComponent } from 'vue';
import { LocalStorage, useQuasar } from 'quasar';
import { api } from 'boot/axios';

const toolMaxTemp = 300;
const bedMaxTemp = 120;

export default defineComponent({
  name: 'TemperatureComponent',

  setup() {
  },
  data() {
    return {
      toolTempActual: 0,
      toolTempTarget: 0,
      toolTempProgress: 0,
      bedTempActual: 0,
      bedTempTarget: 0,
      bedTempProgress: 0,
      toolMaxTemp: 300,
      bedMaxTemp: 120,
      loading: false,
      errored: false,
    };
  },
  mounted() {
    const $q = useQuasar();
    const octoprintURL = LocalStorage.getItem('OctoprintURL');
    const octoprintApiKey = LocalStorage.getItem('OctoprintApiKey');

    const axiosConfig = {
      headers: { Authorization: `Bearer ${octoprintApiKey}` },
    };
    $q.loading.show();
    api.get(`${octoprintURL}/api/printer/tool`, axiosConfig)
      .then((response) => {
        this.toolTempActual = response.data.tool0.actual;
        this.toolTempTarget = response.data.tool0.target;
        this.toolTempProgress = (response.data.tool0.actual / toolMaxTemp) * 100;
      }).catch((e) => {
        $q.notify({
          color: 'negative',
          position: 'top',
          message: 'Loading failed',
          icon: 'report_problem',
        });
        // eslint-disable-next-line no-console
        console.error(e);
        this.errored = true;
      })
      .finally(() => {
        this.loading = false;
        $q.loading.hide();
      });
    api.get(`${octoprintURL}/api/printer/bed`, axiosConfig)
      .then((response) => {
        this.bedTempActual = response.data.bed.actual;
        this.bedTempTarget = response.data.bed.target;
        this.bedTempProgress = (response.data.bed.actual / bedMaxTemp) * 100;
      }).catch((e) => {
        $q.notify({
          color: 'negative',
          position: 'top',
          message: 'Loading failed',
          icon: 'report_problem',
        });
        // eslint-disable-next-line no-console
        console.error(e);
        this.errored = true;
      })
      .finally(() => {
        this.loading = false;
        $q.loading.hide();
      });
  },
});
</script>
