<template>
  <div class="col">Control :
    <div class="row">
      <div class="col"></div>
          <div class="col">
            <q-btn
              padding="lg"
              color="primary"
              round
              icon="arrow_upward"
              :disable="errored"
              label="Y+"
              stack
              @click="sendJogAxis('y', '+')"
            />
          </div>
          <div class="col">
          <q-btn
            padding="lg"
            color="primary"
            round
            icon="arrow_upward"
            :disable="errored"
            label="Z+"
            stack
            @click="sendJogAxis('z', '+')"
          />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <q-btn
            padding="lg"
            color="primary"
            round
            icon="arrow_back"
            :disable="errored"
            label="X-"
            stack
            @click="sendJogAxis('x', '-')"
            />
          </div>
          <div class="col">
            <q-btn
            padding="lg"
            color="primary"
            round
            icon="home"
            :disable="errored"
            label="Home"
            stack
            @click="sendHomeAll()"
            />
          </div>
          <div class="col">
            <q-btn
            padding="lg"
            color="primary"
            round
            icon="arrow_forward"
            :disable="errored"
            label="X+"
            stack
            @click="sendJogAxis('x', '+')"
            />
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <q-btn
            padding="lg"
            color="primary"
            round
            icon="arrow_downward"
            :disable="errored"
            label="Y-"
            stack
            @click="sendJogAxis('y', '-')"
            />
          </div>
          <div class="col">
            <q-btn
            padding="lg"
            color="primary"
            round
            icon="arrow_downward"
            :disable="errored"
            label="Z-"
            stack
            @click="sendJogAxis('z', '-')"
            />
          </div>
        </div>
      </div>
      <div class="row">Home Axis :
        <div class="col">
          <q-btn
            padding="lg"
            color="primary"
            round
            icon="home"
            :disable="errored"
            label="X"
            stack
            @click="sendHomeAxis('x')"
          />
        </div>
        <div class="col">
          <q-btn
            padding="lg"
            color="primary"
            round
            icon="home"
            :disable="errored"
            label="Y"
            stack
            @click="sendHomeAxis('y')"
          />
        </div>
        <div class="col">
          <q-btn
            padding="lg"
            color="primary"
            round
            icon="home"
            :disable="errored"
            label="Z"
            stack
            @click="sendHomeAxis('z')"
          />
        </div>
      </div>
</template>

<script>
import { defineComponent } from 'vue';
import { LocalStorage, useQuasar } from 'quasar';
import { api } from 'boot/axios';

export default defineComponent({
  name: 'PrinterMoveControl',

  setup() {
    const $q = useQuasar();
    const octoprintURL = LocalStorage.getItem('OctoprintURL');
    const octoprintApiKey = LocalStorage.getItem('OctoprintApiKey');
    const xyJogValue = 20;
    const zJogValue = 5;

    return {
      sendJogAxis(axis, sign) {
        let postContent = null;
        if (axis === 'x' && sign === '-') {
          postContent = {
            command: 'jog',
            x: -xyJogValue,
          };
        } else if (axis === 'x' && sign === '+') {
          postContent = {
            command: 'jog',
            x: xyJogValue,
          };
        } else if (axis === 'y' && sign === '-') {
          postContent = {
            command: 'jog',
            y: -xyJogValue,
          };
        } else if (axis === 'y' && sign === '+') {
          postContent = {
            command: 'jog',
            y: xyJogValue,
          };
        } else if (axis === 'z' && sign === '-') {
          postContent = {
            command: 'jog',
            z: -zJogValue,
          };
        } else if (axis === 'z' && sign === '+') {
          postContent = {
            command: 'jog',
            z: zJogValue,
          };
        }
        // eslint-disable-next-line no-console
        console.log(JSON.stringify(postContent));
        api.post(`${octoprintURL}/api/printer/printhead`, postContent, {
          headers: { Authorization: `Bearer ${octoprintApiKey}` },
        }).then((response) => {
          if (response.status === 204) {
            $q.notify({
              color: 'positive',
              position: 'top',
              message: 'Command sent to Octoprint',
              icon: 'check_circle',
            });
          } else {
            $q.notify({
              color: 'negative',
              position: 'top',
              message: `Printer jog failed : ${response.data.error}`,
              icon: 'report_problem',
            });
          }
        }).catch((e) => {
          $q.notify({
            color: 'negative',
            position: 'top',
            message: 'Loading failed',
            icon: 'report_problem',
          });
          // eslint-disable-next-line no-console
          console.error(e);
          this.errored = true;
        });
      },
      sendHomeAxis(axis) {
        api.post(`${octoprintURL}/api/printer/printhead`, {
          command: 'home',
          axes: axis,
        }, {
          headers: { Authorization: `Bearer ${octoprintApiKey}` },
        }).then((response) => {
          if (response.status === 204) {
            $q.notify({
              color: 'positive',
              position: 'top',
              message: 'Home all axis sent to Octoprint',
              icon: 'check_circle',
            });
          } else {
            $q.notify({
              color: 'negative',
              position: 'top',
              message: `Printer home failed : ${response.data.error}`,
              icon: 'report_problem',
            });
          }
        }).catch((e) => {
          $q.notify({
            color: 'negative',
            position: 'top',
            message: 'Loading failed',
            icon: 'report_problem',
          });
          // eslint-disable-next-line no-console
          console.error(e);
          this.errored = true;
        });
      },
      sendHomeAll() {
        api.post(`${octoprintURL}/api/printer/printhead`, {
          command: 'home',
          axes: ['x', 'y', 'z'],
        }, {
          headers: { Authorization: `Bearer ${octoprintApiKey}` },
        }).then((response) => {
          if (response.status === 204) {
            $q.notify({
              color: 'positive',
              position: 'top',
              message: 'Home command sent to Octoprint',
              icon: 'check_circle',
            });
          } else {
            $q.notify({
              color: 'negative',
              position: 'top',
              message: `Printer home failed : ${response.data.error}`,
              icon: 'report_problem',
            });
          }
        }).catch((e) => {
          $q.notify({
            color: 'negative',
            position: 'top',
            message: 'Loading failed',
            icon: 'report_problem',
          });
          // eslint-disable-next-line no-console
          console.error(e);
          this.errored = true;
        });
      },
    };
  },
  data() {
    return {
      loading: false,
      errored: false,
    };
  },
});
</script>
