<template>
  <section v-if="errored">
    <h3>Error while accessing Octoprint API</h3>
  </section>
  <section v-else>
    <div v-if="loading">Loading ...</div>
    <div v-else>
      <q-list>
        Connection Status : {{ printerConnectionState }}
        <section v-if="printerConnectionState === 'Closed'">
          <q-btn color="teal" @click="connectButton">
            <q-icon left size="3em" name="cable" />
            <div>Connect the printer</div>
          </q-btn>
        </section>
      </q-list>
    </div>
  </section>
</template>

<script>
/* eslint-disable no-lonely-if */
/* eslint-disable no-console */
import { defineComponent } from 'vue';
import { LocalStorage, useQuasar } from 'quasar';
import { api } from 'boot/axios';

export default defineComponent({
  name: 'PrinterConnection',

  setup() {
    const $q = useQuasar();
    const octoprintURL = LocalStorage.getItem('OctoprintURL');
    const octoprintApiKey = LocalStorage.getItem('OctoprintApiKey');

    return {
      connectButton() {
        api.post(`${octoprintURL}/api/connection`, {
          command: 'connect',
          autoconnect: true,
        }, {
          headers: { Authorization: `Bearer ${octoprintApiKey}` },
        }).then((response) => {
          console.debug(response.status);
          if (response.status === 204) {
            $q.notify({
              color: 'positive',
              position: 'top',
              message: 'Printer is connected to Octoprint',
              icon: 'check_circle',
            });
            // Add reload
          } else {
            $q.notify({
              color: 'negative',
              position: 'top',
              message: 'Printer connection failed',
              icon: 'report_problem',
            });
          }
        }).catch((e) => {
          $q.notify({
            color: 'negative',
            position: 'top',
            message: 'Loading failed',
            icon: 'report_problem',
          });
          // eslint-disable-next-line no-console
          console.error(e);
          this.errored = true;
        });
      },
    };
  },
  data() {
    return {
      printerConnectionState: null,
      loading: false,
      errored: false,
    };
  },
  mounted() {
    const $q = useQuasar();
    const octoprintURL = LocalStorage.getItem('OctoprintURL');
    const octoprintApiKey = LocalStorage.getItem('OctoprintApiKey');

    const axiosConfig = {
      headers: { Authorization: `Bearer ${octoprintApiKey}` },
    };
    $q.loading.show();
    api.get(`${octoprintURL}/api/connection`, axiosConfig)
      .then((response) => {
        // eslint-disable-next-line no-console
        console.debug(response.data.current.state);
        this.printerConnectionState = response.data.current.state;
      }).catch((e) => {
        $q.notify({
          color: 'negative',
          position: 'top',
          message: 'Loading failed',
          icon: 'report_problem',
        });
        // eslint-disable-next-line no-console
        console.error(e);
        this.errored = true;
      })
      .finally(() => {
        this.loading = false;
        $q.loading.hide();
      });
  },
});
</script>
