<template>
  <section v-if="errored">
    <h3>Error while accessing Octoprint API</h3>
  </section>
  <section v-else>
    <div v-if="loading">Loading ...</div>
    <div class="q-pa-lg" v-else>
      Set Tool0 Temp :
      <q-input
        v-model.number="tool0InputTarget"
        type="number"
        filled
        style="max-width: 200px"
      />
      <q-btn
        padding="lg"
        color="primary"
        :disable="errored"
        label="Set"
        @click="sendTool0Temp()"
      />
      Set Bed Temp :
      <q-input
        v-model.number="bedInputTarget"
        type="number"
        filled
        style="max-width: 200px"
      />
      <q-btn
        padding="lg"
        color="primary"
        :disable="errored"
        label="Set"
        @click="sendBedTemp()"
      />
    </div>
  </section>
</template>

<script>
/* eslint-disable no-console */
import { defineComponent, ref } from 'vue';
import { LocalStorage, useQuasar } from 'quasar';
import { api } from 'boot/axios';

const toolMaxTemp = 300;
const bedMaxTemp = 120;

export default defineComponent({
  name: 'TemperatureControl',

  setup() {
    const $q = useQuasar();
    const octoprintURL = LocalStorage.getItem('OctoprintURL');
    const octoprintApiKey = LocalStorage.getItem('OctoprintApiKey');

    return {
      sendBedTemp() {
        api.post(`${octoprintURL}/api/printer/bed`, {
          command: 'target',
          target: this.bedInputTarget,
        }, {
          headers: { Authorization: `Bearer ${octoprintApiKey}` },
        }).then((response) => {
          if (response.status === 204) {
            $q.notify({
              color: 'positive',
              position: 'top',
              message: `Bed Temp set to ${this.tool0InputTarget}`,
              icon: 'check_circle',
            });
          } else {
            $q.notify({
              color: 'negative',
              position: 'top',
              message: `Temp Set failed : ${response.data.error}`,
              icon: 'report_problem',
            });
          }
        }).catch((e) => {
          $q.notify({
            color: 'negative',
            position: 'top',
            message: 'Loading failed',
            icon: 'report_problem',
          });
          // eslint-disable-next-line no-console
          console.error(e);
          this.errored = true;
        });
      },
      sendTool0Temp() {
        api.post(`${octoprintURL}/api/printer/tool`, {
          command: 'target',
          targets: {
            tool0: this.tool0InputTarget,
          },
        }, {
          headers: { Authorization: `Bearer ${octoprintApiKey}` },
        }).then((response) => {
          if (response.status === 204) {
            $q.notify({
              color: 'positive',
              position: 'top',
              message: `Tool0 Temperature set to ${this.tool0InputTarget}`,
              icon: 'check_circle',
            });
          } else {
            $q.notify({
              color: 'negative',
              position: 'top',
              message: `Temp Set failed : ${response.data.error}`,
              icon: 'report_problem',
            });
          }
        }).catch((e) => {
          $q.notify({
            color: 'negative',
            position: 'top',
            message: 'Loading failed',
            icon: 'report_problem',
          });
          // eslint-disable-next-line no-console
          console.error(e);
          this.errored = true;
        });
      },
    };
  },
  data() {
    return {
      toolMaxTemp: 300,
      bedMaxTemp: 120,
      tool0InputTarget: ref(0),
      bedInputTarget: ref(0),
      loading: false,
      errored: false,
    };
  },
  mounted() {
    const $q = useQuasar();
    const octoprintURL = LocalStorage.getItem('OctoprintURL');
    const octoprintApiKey = LocalStorage.getItem('OctoprintApiKey');

    const axiosConfig = {
      headers: { Authorization: `Bearer ${octoprintApiKey}` },
    };
    $q.loading.show();
    api.get(`${octoprintURL}/api/printer/tool`, axiosConfig)
      .then((response) => {
        this.toolTempActual = response.data.tool0.actual;
        this.toolTempTarget = response.data.tool0.target;
        this.toolTempProgress = (response.data.tool0.actual / toolMaxTemp) * 100;
      }).catch((e) => {
        $q.notify({
          color: 'negative',
          position: 'top',
          message: 'Loading failed',
          icon: 'report_problem',
        });
        // eslint-disable-next-line no-console
        console.error(e);
        this.errored = true;
      })
      .finally(() => {
        this.loading = false;
        $q.loading.hide();
      });
    api.get(`${octoprintURL}/api/printer/bed`, axiosConfig)
      .then((response) => {
        this.bedTempActual = response.data.bed.actual;
        this.bedTempTarget = response.data.bed.target;
        this.bedTempProgress = (response.data.bed.actual / bedMaxTemp) * 100;
      }).catch((e) => {
        $q.notify({
          color: 'negative',
          position: 'top',
          message: 'Loading failed',
          icon: 'report_problem',
        });
        // eslint-disable-next-line no-console
        console.error(e);
        this.errored = true;
      })
      .finally(() => {
        this.loading = false;
        $q.loading.hide();
      });
  },
});
</script>
