<template>
  <q-page class="flex flex-center column">
    <section v-if="errored">
      <h3>Error while accessing Thingiverse API</h3>
    </section>
    <section v-else>
      <div v-if="loading">Loading ...</div>
      <div v-else-if="connected">
        <h2>{{ collectionRes.name }}</h2>
        <p>by
          <a
            :href="collectionRes.creator.public_url"
            target="_blank">
            {{ collectionRes.creator.name }}
          </a>
        </p>
        <q-btn
          color="primary"
          label="See on Thingiverse"
          type="a"
          :href="collectionRes.absolute_url"
          target="__blank"
        />
        <q-btn color="primary" label="Go back" @click="goBack()" />
        <q-list class="row flex-center justify-center">
          <ThingiverseCard
            class="col-3 col-xl-3 col-lg-3 col-md-5 col-sm-5 col-xs-12"
            v-for="cards in collectCards"
            :key="cards.title"
            v-bind="cards"
          />
        </q-list>
      </div>
      <div v-else>
        Please login on Thingiverse first.
        <q-btn
          class="q-ml-lg"
          color="primary"
          @click="goLogin()"
          label="Go to Login page"
        />
      </div>
    </section>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import { useMeta, useQuasar, LocalStorage } from 'quasar';
import { api } from 'boot/axios';
import ThingiverseCard from 'components/thingiverse/ThingiverseCard.vue';

const metaData = {
  title: 'Collection',
  titleTemplate: (title) => `3Droid - ${title}`,
};

const collectCardsList = [];

export default defineComponent({
  name: 'Collection',

  components: {
    ThingiverseCard,
  },

  methods: {
    goBack() {
      window.history.go(-1);
    },
    goLogin() {
      window.location = '/auth';
    },
  },

  setup() {
    const $q = useQuasar();
    useMeta(metaData);

    $q.loading.show();
    return {
      collectCards: collectCardsList,
    };
  },
  data() {
    return {
      loading: true,
      errored: false,
      connected: false,
      collectionRes: null,
    };
  },
  mounted() {
    const $q = useQuasar();
    if (LocalStorage.has('ThingiverseAccessToken')) {
      const localToken = LocalStorage.getItem('ThingiverseAccessToken');
      const axiosConfig = {
        headers: { Authorization: `Bearer ${localToken}` },
      };
      this.connected = true;
      api.get(`https://api.thingiverse.com/collections/${this.$route.params.id}`, axiosConfig)
        .then((response) => {
          // eslint-disable-next-line no-console
          console.debug(response.data);
          this.collectionRes = response.data;
        })
        .catch(() => {
          $q.notify({
            color: 'negative',
            position: 'top',
            message: 'Loading failed',
            icon: 'report_problem',
          });
          this.errored = true;
        });
      api.get(`https://api.thingiverse.com/collections/${this.$route.params.id}/things`, axiosConfig)
        .then((response) => {
          // eslint-disable-next-line no-console
          console.debug(response.data);
          response.data.forEach((element) => {
            collectCardsList.push({
              id: element.id,
              title: element.name,
              author: element.creator.name,
              link: element.url.replace('https://api.thingiverse.com/things/', 'thing/'),
              imageLink: element.thumbnail,
              likeLink: `${element.url}/likes`,
              likeCount: element.like_count,
              commentCount: element.comment_count,
            });
          });
        })
        .catch(() => {
          $q.notify({
            color: 'negative',
            position: 'top',
            message: 'Loading failed',
            icon: 'report_problem',
          });
          this.errored = true;
        })
        .finally(() => {
          this.loading = false;
          $q.loading.hide();
        });
    } else {
      $q.loading.hide();
      this.loading = false;
      this.connected = false;
      $q.notify({
        position: 'top',
        message: 'Connect to Thingiverse to like a thing',
        type: 'warning',
      });
    }
  },
});
</script>
