<template>
  <q-page class="flex flex-center column">
    <h3>My Thingiverse Collections</h3>
    <section v-if="errored">
      <h3>Error while accessing Thingiverse API</h3>
    </section>
    <section v-else>
      <div v-if="loading">Loading ...</div>
      <div v-else-if="connected">
      <q-list class="row flex-center justify-center">
        <ThingiverseCollectionCard
          class="col-3 col-xl-3 col-lg-3 col-md-5 col-sm-5 col-xs-12"
          v-for="cards in collectCards"
          :key="cards.title"
          v-bind="cards"
        />
      </q-list>
      </div>
      <div v-else>
        Please login on Thingiverse first.
        <q-btn
          class="q-ml-lg"
          color="primary"
          @click="goLogin()"
          label="Go to Login page"
        />
      </div>
    </section>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import { useMeta, useQuasar, LocalStorage } from 'quasar';
import { api } from 'boot/axios';
import ThingiverseCollectionCard from 'components/thingiverse/ThingiverseCollectionCard.vue';

const metaData = {
  title: 'My Collections',
  titleTemplate: (title) => `3Droid - ${title}`,
};

const collectCardsList = [];

export default defineComponent({
  name: 'Collections',

  components: {
    ThingiverseCollectionCard,
  },

  methods: {
    goLogin() {
      window.location = '/auth';
    },
  },

  setup() {
    const $q = useQuasar();
    useMeta(metaData);

    $q.loading.show();
    return {
      collectCards: collectCardsList,
    };
  },
  data() {
    return {
      loading: true,
      errored: false,
      connected: false,
    };
  },
  mounted() {
    const $q = useQuasar();
    if (LocalStorage.has('ThingiverseAccessToken') && LocalStorage.has('ThingiverseUser')) {
      const localToken = LocalStorage.getItem('ThingiverseAccessToken');
      const localUser = LocalStorage.getItem('ThingiverseUser');
      const axiosConfig = {
        headers: { Authorization: `Bearer ${localToken}` },
      };
      this.connected = true;
      api.get(`https://api.thingiverse.com/users/${localUser.name}/collections/true`, axiosConfig)
        .then((response) => {
          // eslint-disable-next-line no-console
          console.debug(response.data);
          response.data.forEach((element) => {
            collectCardsList.push({
              id: element.id,
              title: element.name,
              imageLink: element.thumbnail,
            });
          });
        })
        .catch(() => {
          $q.notify({
            color: 'negative',
            position: 'top',
            message: 'Loading failed',
            icon: 'report_problem',
          });
          this.errored = true;
        })
        .finally(() => {
          this.loading = false;
          $q.loading.hide();
        });
    } else {
      $q.loading.hide();
      this.loading = false;
      this.connected = false;
      $q.notify({
        position: 'top',
        message: 'Connect to Thingiverse to see your collections',
        type: 'warning',
      });
    }
  },
});
</script>
