<template>
  <q-page class="flex flex-center">
    <h3>Thingiverse Popular Designs</h3>
    <section v-if="errored">
      <h3>Error while accessing Thingiverse API</h3>
    </section>
    <section v-else>
      <div v-if="loading">Loading ...</div>
      <div v-else>
      <q-list class="row flex-center justify-center">
        <ThingiverseCard
          class="col-3 col-xl-3 col-lg-3 col-md-5 col-sm-5 col-xs-12"
          v-for="cards in popularCards"
          :key="cards.title"
          v-bind="cards"
        />
      </q-list>
      </div>
    </section>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import { useMeta, useQuasar } from 'quasar';
import { api } from 'boot/axios';
import ThingiverseCard from 'components/thingiverse/ThingiverseCard.vue';

const metaData = {
  title: 'Popular Designs',
  titleTemplate: (title) => `3Droid - ${title}`,
};

const popularCardsList = [];

export default defineComponent({
  name: 'Popular',

  components: {
    ThingiverseCard,
  },

  setup() {
    const $q = useQuasar();
    useMeta(metaData);

    $q.loading.show();
    return {
      popularCards: popularCardsList,
    };
  },
  data() {
    return {
      loading: true,
      errored: false,
    };
  },
  mounted() {
    const $q = useQuasar();
    const axiosConfig = {
      headers: { Authorization: `Bearer ${process.env.THINGI_TOKEN}` },
    };
    const today = new Date(new Date().setDate(new Date().getDate() - 30));
    // adjust 0 before single digit date
    const day = today.getDate();
    const month = today.getMonth() + 1;
    const year = today.getFullYear();

    const date = `${year}-${month}-${day}`;
    // eslint-disable-next-line no-console
    console.debug('Date :', date);
    api.get(`https://api.thingiverse.com/search/?sort=popular&per_page=50&posted_after=${date}`, axiosConfig)
      .then((response) => {
        // eslint-disable-next-line no-console
        console.debug(response.data);
        response.data.hits.forEach((element) => {
          popularCardsList.push({
            title: element.name,
            id: element.id,
            author: element.creator.name,
            link: element.url.replace('https://api.thingiverse.com/things/', 'thing/'),
            imageLink: element.thumbnail,
            likeLink: `${element.url}/likes`,
            likeCount: element.like_count,
            commentCount: element.comment_count,
          });
        });
      })
      .catch(() => {
        $q.notify({
          color: 'negative',
          position: 'top',
          message: 'Loading failed',
          icon: 'report_problem',
        });
        this.errored = true;
      })
      .finally(() => {
        this.loading = false;
        $q.loading.hide();
      });
  },
});
</script>
