<template>
  <q-page class="flex flex-center column">
    <h2>Thingiverse Search Designs</h2>
    <q-input
      bottom-slots
      v-model="search"
      label="Search"
      :dense="dense"
      @keydown.enter.prevent="searchSubmit()"
      style="min-width: 600px"
    >
      <template v-slot:prepend>
        <q-icon name="search" />
      </template>
      <template v-slot:append>
        <q-icon
          v-if="search !== ''"
          name="close"
          @click="search = ''"
          class="cursor-pointer"
        />
      </template>
      <template v-slot:after>
        <q-btn round dense flat icon="send" @click="searchSubmit()" />
      </template>
      <template v-slot:hint> Make a search on Thingiverse </template>
    </q-input>
    <section v-if="errored">
      <h3>Error while accessing Thingiverse API</h3>
    </section>
    <section v-else>
      <div v-if="loading">Loading ...</div>
      <div v-else>
        <q-list class="row flex-center justify-center">
          <ThingiverseCard
            class="col-3 col-xl-3 col-lg-3 col-md-5 col-sm-5 col-xs-12"
            v-for="cards in searchCardsList"
            :key="cards.title"
            v-bind="cards"
          />
        </q-list>
      </div>
    </section>
  </q-page>
</template>

<script>
import { defineComponent, ref } from 'vue';
import { useMeta, useQuasar } from 'quasar';
import { api } from 'boot/axios';
import ThingiverseCard from 'components/thingiverse/ThingiverseCard.vue';

const metaData = {
  title: 'Search Designs',
  titleTemplate: (title) => `3Droid - ${title}`,
};

export default defineComponent({
  name: 'Search',

  components: {
    ThingiverseCard,
  },

  setup() {
    useMeta(metaData);

    const $q = useQuasar();
    function searchSubmit() {
      if (this.search == null) return;
      this.searchCardsList = [];
      $q.loading.show();

      const axiosConfig = {
        headers: { Authorization: `Bearer ${process.env.THINGI_TOKEN}` },
      };

      api.get(`https://api.thingiverse.com/search/${this.search}`, axiosConfig)
        .then((response) => {
          response.data.hits.forEach((element) => {
            this.searchCardsList.push({
              id: element.id,
              title: element.name,
              author: element.creator.name,
              link: element.url.replace('https://api.thingiverse.com/things/', 'thing/'),
              imageLink: element.thumbnail,
              likeLink: `${element.url}/likes`,
              likeCount: element.like_count,
              commentCount: element.comment_count,
            });
          });
        })
        .catch((e) => {
          $q.notify({
            color: 'negative',
            position: 'top',
            message: 'Loading failed',
            icon: 'report_problem',
          });
          // eslint-disable-next-line no-console
          console.error(e);
          this.errored = true;
        })
        .finally(() => {
          this.loading = false;
          $q.loading.hide();
        });
    }

    return {
      dense: ref(false),
      search: ref(''),
      searchSubmit,
    };
  },
  data() {
    return {
      searchCardsList: null,
      loading: false,
      errored: false,
    };
  },
  unmounted() {
    this.searchCardsList = [];
  },
});
</script>
