<template>
  <q-page class="flex column">
    <section v-if="errored">
      <h3>Error while accessing Thingiverse API</h3>
    </section>
    <section v-else>
      <div v-if="loading">Loading ...</div>
      <div v-else>
        <h2>{{ thingiRes.name }}</h2>
        <p>by {{ thingiRes.author }} on {{ thingiRes.date }}</p>
        <p>{{ thingiRes.likeCount }} Likes</p>
        <q-btn
          color="primary"
          label="See on Thingiverse"
          type="a"
          :href="thingiRes.publicurl"
          target="__blank"
        />
        <q-btn color="primary" label="Like" @click="likeClick()" />
        <q-btn color="primary" label="Go back" @click="goBack" />
        <div class="q-pa-md" v-if="connected">
          <q-btn-dropdown color="primary" label="Add to collection">
          <q-list>
            <CollectionList
              v-for="collection in collectionList"
              :key="collection.id"
              v-bind="collection"
              :collectionId="collection.id"
              :name="collection.name"
              :objectId="$route.params.id"
            />
          </q-list>
          </q-btn-dropdown>
        </div>
        <div class="q-pa-md">
          <q-carousel
            swipeable
            animated
            v-model="slide"
            thumbnails
            infinite
            height="40rem"
            :autoplay="autoplay"
            @mouseenter="autoplay = false"
            @mouseleave="autoplay = true"
          >
            <q-carousel-slide
              v-for="link in imagesLinks"
              :key="link.id"
              :name="link.id"
              :img-src="link.link"
            />
          </q-carousel>
        </div>
        <section>
          <div v-html="thingiRes.description" />
        </section>
        <q-list bordered>
          <DownloadSTLComponent
            v-for="obj in fileList"
            :key="obj.name"
            v-bind="obj"
            :name="obj.name"
            :link="obj.link"
            :imageLink="obj.imageLink"
          />
        </q-list>
      </div>
    </section>
  </q-page>
</template>

<script>
import { defineComponent, ref } from 'vue';
// eslint-disable-next-line object-curly-newline
import { useMeta, useQuasar, LocalStorage, Notify } from 'quasar';
import { api } from 'boot/axios';
import DownloadSTLComponent from 'components/thingiverse/DownloadSTLComponent.vue';
import CollectionList from 'components/thingiverse/CollectionList.vue';

const metaData = {
  title: 'Thing',
  titleTemplate: (title) => `3Droid - ${title}`,
};

let imagesLinksResponse = [];
let STLFileList = [];
let collectionListResponse = [];

export default defineComponent({
  name: 'Thing',

  components: {
    DownloadSTLComponent,
    CollectionList,
  },

  setup() {
    const $q = useQuasar();
    useMeta(metaData);

    $q.loading.show();
    return {
      imagesLinks: imagesLinksResponse,
      fileList: STLFileList,
      slide: ref(0),
      autoplay: ref(true),
      collectionList: collectionListResponse,
    };
  },
  data() {
    return {
      loading: true,
      errored: false,
      thingiRes: null,
      liked: false,
      collectionRes: null,
      connected: false,
    };
  },
  mounted() {
    const $q = useQuasar();
    const axiosConfig = {
      headers: { Authorization: `Bearer ${process.env.THINGI_TOKEN}` },
    };

    api.get(`https://api.thingiverse.com/things/${this.$route.params.id}/images`, axiosConfig)
      .then((response) => {
        let slideId = 0;
        response.data.forEach((element) => {
          element.sizes.forEach((sizes) => {
            if (sizes.type === 'display' && sizes.size === 'large') {
              imagesLinksResponse.push({
                link: sizes.url,
                id: slideId,
              });
              slideId += 1;
            }
          });
        });
      })
      .catch((e) => {
        // eslint-disable-next-line no-console
        console.error(e);
        $q.notify({
          color: 'negative',
          position: 'top',
          message: 'Loading images failed',
          icon: 'report_problem',
        });
        // this.errored = true;
      })
      .finally(() => {
        this.loading = false;
        $q.loading.hide();
      });
    api.get(`https://api.thingiverse.com/things/${this.$route.params.id}`, axiosConfig)
      .then((response) => {
        // eslint-disable-next-line no-console
        console.debug('Thing', response.data);
        const dateConverted = new Date(response.data.added).toDateString();
        this.thingiRes = {
          name: response.data.name,
          author: response.data.creator.name,
          authorLink: response.data.creator.url,
          date: dateConverted,
          publicUrl: response.data.public_url,
          description: response.data.description_html,
          likeCount: response.data.like_count,
          url: response.data.url,
        };
      })
      .catch((e) => {
        // eslint-disable-next-line no-console
        console.error(e);
        $q.notify({
          color: 'negative',
          position: 'top',
          message: 'Loading Things data failed',
          icon: 'report_problem',
        });
        // this.errored = true;
      })
      .finally(() => {
        this.loading = false;
      });
    api.get(`https://api.thingiverse.com/things/${this.$route.params.id}/files`, axiosConfig)
      .then((response) => {
        // eslint-disable-next-line no-console
        console.debug('Thing', response.data);
        response.data.forEach((element) => {
          element.default_image?.sizes?.forEach((taille) => {
            if (taille.type === 'thumb' && taille.size === 'large') {
              // eslint-disable-next-line no-console
              console.debug('sizes', taille, ' NAME : ', element.name);
              STLFileList.push({
                name: element.name,
                link: element.default_image.url,
                imageLink: taille.url,
              });
            }
          });
        });
      })
      .catch((e) => {
        // eslint-disable-next-line no-console
        console.error(e);
        $q.notify({
          color: 'negative',
          position: 'top',
          message: 'Loading STLs Failed',
          icon: 'report_problem',
        });
        this.errored = true;
      })
      .finally(() => {
        this.loading = false;
      });
    if (LocalStorage.has('ThingiverseAccessToken') && LocalStorage.has('ThingiverseUser')) {
      const localToken = LocalStorage.getItem('ThingiverseAccessToken');
      const localUser = LocalStorage.getItem('ThingiverseUser');
      const axiosClientConfig = {
        headers: { Authorization: `Bearer ${localToken}` },
      };
      this.connected = true;
      api.get(`https://api.thingiverse.com/users/${localUser.name}/collections/true`, axiosClientConfig)
        .then((response) => {
          // eslint-disable-next-line no-console
          console.debug(response.data);
          response.data.forEach((element) => {
            collectionListResponse.push({
              id: element.id,
              name: element.name,
            });
          });
        })
        .catch(() => {
          $q.notify({
            color: 'negative',
            position: 'top',
            message: 'Loading failed',
            icon: 'report_problem',
          });
          this.errored = true;
        });
    }
  },
  unmounted() {
    STLFileList = [];
    imagesLinksResponse = [];
    collectionListResponse = [];
  },
  methods: {
    goBack() {
      window.history.go(-1);
    },
    likeClick() {
      const $q = useQuasar();

      if (LocalStorage.has('ThingiverseAccessToken')) {
        const localToken = LocalStorage.getItem('ThingiverseAccessToken');
        const axiosConfig = {
          headers: { Authorization: `Bearer ${localToken}` },
        };
        if (this.liked === false) {
          api.post(`${this.thingiRes.url}/likes`, null, axiosConfig)
            .then(() => {
              this.liked = true;
              this.thingiRes.likeCount += 1;
              Notify.create({
                color: 'positive',
                position: 'top',
                message: 'Thing successfully liked !',
                icon: 'check_circle',
              });
            })
            .catch((e) => {
              // eslint-disable-next-line no-console
              console.error(e);
              Notify.create({
                color: 'negative',
                position: 'top',
                message: 'Thingiverse like failed',
                icon: 'report_problem',
              });
              this.errored = true;
            });
        } else {
          api.delete(`${this.thingiRes.url}/likes`, axiosConfig)
            .then(() => {
              this.liked = false;
              this.thingiRes.likeCount -= 1;
              Notify.create({
                position: 'top',
                message: 'Thing successfully unliked !',
                type: 'info',
              });
            })
            .catch((e) => {
              // eslint-disable-next-line no-console
              console.error(e);
              Notify.create({
                color: 'negative',
                position: 'top',
                message: 'Thingiverse unlike failed',
                icon: 'report_problem',
              });
              this.errored = true;
            });
        }
      } else {
        $q.notify({
          position: 'top',
          message: 'Connect to Thingiverse to like a thing',
          type: 'warning',
        });
      }
    },
  },
});
</script>
