<template>
  <q-page class="flex flex-center column">
    <h2>About Page</h2>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import { useMeta } from 'quasar';

const metaData = {
  title: 'About',
  titleTemplate: (title) => `3Droid - ${title}`,
};

export default defineComponent({
  name: 'AboutPage',
  setup() {
    useMeta(metaData);
  },
});
</script>
