<template>
  <q-page class="flex flex-center column">
    <AuthForm
      type="Octoprint"
    />
    <!-- <AuthForm
      type="Thingiverse"
    /> -->
    <q-btn
      class="q-mt-xl"
      padding="lg"
      color="primary"
      :disable="thingiConnected"
      label="Thingiverse Authentication"
      @click="thingiverseAuth()"
    />
    Connected : {{ thingiConnected }}
    <div v-if="thingiConnected">
      {{ thingiResponse.full_name }}
      <q-img
        :src="thingiResponse.thumbnail"
        spinner-color="white"
        style="max-width: 200px"
      />
      <q-icon name="location"/> {{ thingiResponse.location }}
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import { LocalStorage, useMeta, useQuasar } from 'quasar';
import { api } from 'boot/axios';
import AuthForm from 'components/AuthForm.vue';

const metaData = {
  title: 'Login',
  titleTemplate: (title) => `3Droid - ${title}`,
};

export default defineComponent({
  components: { AuthForm },
  name: 'AuthPage',
  setup() {
    useMeta(metaData);

    return {
      thingiverseAuth() {
        const token = process.env.THINGI_CLIENT_ID;
        window.location.href = `https://www.thingiverse.com/login/oauth/authorize?client_id=${token}&response_type=token`;
      },
    };
  },
  data() {
    return {
      loading: false,
      errored: false,
      thingiConnected: false,
      thingiResponse: null,
    };
  },
  mounted() {
    const $q = useQuasar();
    const token = this.$route.hash.split('=')[1];
    if (token !== undefined) {
      $q.loading.show();
      api.get(`https://api.thingiverse.com/users/me?access_token=${token}`)
        .then((response) => {
          $q.notify({
            color: 'positive',
            position: 'top',
            message: `${response.data.full_name} is now connected to Thingiverse`,
            icon: 'check_circle',
          });
          LocalStorage.set('ThingiverseAccessToken', token);
          LocalStorage.set('ThingiverseUser', response.data);
          this.thingiResponse = response.data;
          this.thingiConnected = true;
        })
        .catch((e) => {
          // eslint-disable-next-line no-console
          console.error(e);
          $q.notify({
            color: 'negative',
            position: 'top',
            message: 'Thingiverse user verification failed',
            icon: 'report_problem',
          });
          this.errored = true;
        })
        .finally(() => {
          this.loading = false;
          $q.loading.hide();
        });
    } else if (LocalStorage.has('ThingiverseAccessToken')) {
      $q.loading.show();
      const localToken = LocalStorage.getItem('ThingiverseAccessToken');
      api.get(`https://api.thingiverse.com/users/me?access_token=${localToken}`)
        .then((response) => {
          this.thingiResponse = response.data;
          LocalStorage.set('ThingiverseUser', response.data);
          this.thingiConnected = true;
        })
        .catch((e) => {
          // eslint-disable-next-line no-console
          console.error(e);
          $q.notify({
            color: 'negative',
            position: 'top',
            message: 'Thingiverse user verification failed',
            icon: 'report_problem',
          });
          this.errored = true;
        })
        .finally(() => {
          this.loading = false;
          $q.loading.hide();
        });
    }
  },
});
</script>
