<template>
  <q-page class="flex flex-center column">
    <!-- <img
      alt="Quasar logo"
      src="~assets/quasar-logo-vertical.svg"
      style="width: 200px; height: 200px"
    > -->
    <h2>This is the Homepage</h2>
    <br/>
    <p>3Droid is a PWA application that you can install with your browser
      in android or on your computer.</p>
    <br/>
    <p>Try the menu to the left of your screen to navigate.</p>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import { useMeta } from 'quasar';

const metaData = {
  title: 'Home',
  titleTemplate: (title) => `3Droid - ${title}`,
};

export default defineComponent({
  name: 'HomePage',
  setup() {
    useMeta(metaData);
  },
});
</script>
