<template>
  <h2>{{ this.type }} Login</h2>
  <div v-if="this.type == 'Octoprint'">
    <form @submit.prevent.stop="onSubmit" @reset.prevent.stop="onReset">
      <q-input
        ref="urlRef"
        filled
        type="url"
        v-model="octoprintURL"
        label="Octoprint URL"
        hint="http://octopi.local/"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'http://octopi.local/']"
      />

      <q-input
        ref="keyRef"
        filled
        :type="isPwd ? 'password' : 'text'"
        v-model="octoprintApiKey"
        label="Octoprint API Key"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Octoprint API Key']"
      >
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>
      <q-toggle v-model="rememberMe" label="Remember Me !" />

      <div>
        <q-btn label="Submit" type="submit" color="primary" />
        <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
      </div>
    </form>
    Connected : {{ connected }}
  </div>
  <div v-else-if="this.type == 'Thingiverse'">
    Thingiverse
  </div>
</template>

<script>
/* eslint-disable no-lonely-if */
/* eslint-disable no-console */
import { defineComponent, ref } from 'vue';
import { LocalStorage, useQuasar } from 'quasar';
import { api } from 'boot/axios';

export default defineComponent({
  name: 'AuthForm',
  props: {
    type: {
      type: String,
      required: true,
    },
  },
  mounted() {
    let OctoprintURL = null;
    let OctoprintAPIKey = null;
    OctoprintURL = LocalStorage.getItem('OctoprintURL');
    OctoprintAPIKey = LocalStorage.getItem('OctoprintApiKey');
    this.octoprintURL = OctoprintURL;
    this.octoprintApiKey = OctoprintAPIKey;
  },
  setup(props) {
    const $q = useQuasar();
    let ThingiverseUser = ref('');
    let OctoprintURL = null;
    let OctoprintApiKey = null;

    if (props.type === 'Octoprint') {
      if (LocalStorage.has('OctoprintURL')) {
        OctoprintURL = LocalStorage.getItem('OctoprintURL');
        console.debug('OctoprintURL is', OctoprintURL);
      }
      if (LocalStorage.has('OctoprintApiKey')) {
        OctoprintApiKey = LocalStorage.getItem('OctoprintApiKey');
        console.debug('OctoprintApiKey is', OctoprintApiKey);
      }
    } else if (props.type === 'Thingiverse') {
      if (LocalStorage.has('ThingiverseUser')) {
        ThingiverseUser = LocalStorage.getItem('ThingiverseUser');
        console.debug('ThingiverseUser is', ThingiverseUser);
      }
    }
    const urlRef = ref(null);
    const keyRef = ref(null);

    const rememberMe = ref(true);
    return {
      urlRef,
      OctoprintURL,
      OctoprintApiKey,
      keyRef,

      rememberMe,
      isPwd: ref(true),

      onSubmit() {
        // userOrUrl.value.validate();
        // passOrKey.value.validate();
        console.debug('Submit is pressed, type :', props.type);

        if (urlRef.value.hasError || keyRef.value.hasError) {
          // form has error
        } else {
          // Remember Login in localstorage or token for thingiverse + Login
          if (props.type === 'Octoprint') {
            api.post(`${this.octoprintURL}/api/login`, {
              passive: true,
              remember: true,
            }, {
              headers: { Authorization: `Bearer ${this.octoprintApiKey}` },
            }).then((response) => {
              console.debug(response.data);
              if (response.data.active) {
                if (rememberMe.value === true) {
                  LocalStorage.set('OctoprintURL', this.octoprintURL);
                  LocalStorage.set('OctoprintApiKey', this.octoprintApiKey);
                }
                this.connected = true;
                $q.notify({
                  color: 'positive',
                  position: 'top',
                  message: 'Connected to Octoprint',
                  icon: 'check_circle',
                });
              } else {
                this.connected = false;
                $q.notify({
                  color: 'negative',
                  position: 'top',
                  message: 'Loading failed',
                  icon: 'report_problem',
                });
              }
            }).catch((e) => {
              this.connected = false;
              $q.notify({
                color: 'negative',
                position: 'top',
                message: 'Loading failed',
                icon: 'report_problem',
              });
              // eslint-disable-next-line no-console
              console.error(e);
              this.errored = true;
            });
          }
        }
      },

      onReset() {
        this.octoprintURL = null;
        this.octoprintApiKey = null;

        urlRef.value.resetValidation();
        keyRef.value.resetValidation();
      },
    };
  },
  data() {
    return {
      octoprintURL: null,
      octoprintApiKey: null,
      connected: false,
      loading: false,
      errored: false,
    };
  },
});
</script>
