<template>
  <q-item
    clickable
    v-close-popup
    @click="selectionClick()"
  >
    <q-item-section>
      <q-item-label>{{ name }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
import { defineComponent } from 'vue';
import { LocalStorage, Notify } from 'quasar';
import { api } from 'boot/axios';

export default defineComponent({
  name: 'CollectionList',
  props: {
    collectionId: {
      type: Number,
      required: true,
    },

    name: {
      type: String,
      default: 'Unknown',
    },

    objectId: {
      type: Number,
      required: true,
    },
  },

  methods: {
    selectionClick() {
      if (LocalStorage.has('ThingiverseAccessToken')) {
        const localToken = LocalStorage.getItem('ThingiverseAccessToken');
        const axiosConfig = {
          headers: { Authorization: `Bearer ${localToken}` },
        };
        api.post(`https://api.thingiverse.com/collections/${this.$props.collectionId}/thing/${this.$props.objectId}`, null, axiosConfig)
          .then(() => {
            // eslint-disable-next-line no-console
            console.debug(`Added to collection : ${this.$props.name}`);
            Notify.create({
              color: 'positive',
              position: 'top',
              message: `Thing successfully added to ${this.$props.name} !`,
              icon: 'check_circle',
            });
          })
          .catch((e) => {
            // eslint-disable-next-line no-console
            console.error(e);
            Notify.create({
              color: 'negative',
              position: 'top',
              message: 'Thingiverse add to collection failed',
              icon: 'report_problem',
            });
            this.errored = true;
          });
      }
    },
  },
  data() {
    return {
      errored: false,
    };
  },
});
</script>
