<template>
  <q-item clickable v-ripple>
    <q-item-section thumbnail>
      <img :src="imageLink">
    </q-item-section>
    <q-item-section>{{ name }}</q-item-section>
    <q-item-section dlButton>
      <q-btn color="primary" label="Download" @click="downloadFile" />
    </q-item-section>
  </q-item>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'DownloadSTLComponent',
  props: {
    name: {
      type: String,
      default: '',
      required: true,
    },

    link: {
      type: String,
      default: '',
      required: true,
    },

    imageLink: {
      type: String,
      default: '',
      required: true,
    },
  },
  methods: {
    cardClick(link) {
      this.$router.push(link);
    },
    downloadFile() {
      // eslint-disable-next-line no-console
      console.debug(`CLICK DL ${this.$props.name}`);
      window.location = this.$props.link;
    },
  },
  setup(props) {
    // eslint-disable-next-line no-console
    console.debug(`DL ${props.name}`);
  },
});
</script>
