<template>
  <q-card class="q-ma-md">
    <div v-ripple @click="cardClick()">
      <q-card-section style="max-height: 10vh">
        <div class="text-subtitle1 q-mb-xs">{{ title }}</div>
        <div class="text-subtitle2 text-grey-8 text-italic q-mb-xs">
          {{ author }}
        </div>
      </q-card-section>
      <q-img
        :src="imageLink"
        class="q-mt-md"
        style="// THIS IS FOR CENTERED IMG //
          display: block;
          margin-left: auto;
          margin-right: auto;"
      />
    </div>
    <q-card-actions class="fit row wrap">
      <q-btn
        flat
        :color="likeColor"
        :label="likesCount"
        :disable="notConnected"
        icon-right="favorite"
        class="col-grow"
        @click="likeClick()"
      >
        <q-tooltip anchor="bottom middle" self="top middle">Like</q-tooltip>
      </q-btn>
      <q-btn-dropdown
        flat
        color="teal"
        :disable="notConnected"
        label="+"
        no-caps
        icon-right="forum"
        class="col-grow"
        @click="loadCollections()"
      >
        <q-list>
          <CollectionList
            v-for="collection in collectionList"
            :key="collection.id"
            v-bind="collection"
            :collectionId="collection.id"
            :name="collection.name"
            :objectId="id"
          />
        </q-list>
        <q-tooltip anchor="bottom middle" self="top middle">Add to collection</q-tooltip>
      </q-btn-dropdown>
      <q-btn flat color="primary" icon="share" class="col-grow" @click="shareClick()">
        <q-tooltip anchor="bottom middle" self="top middle">Share</q-tooltip>
      </q-btn>
    </q-card-actions>
  </q-card>
</template>

<script>
import { defineComponent } from 'vue';
import { LocalStorage, Notify, copyToClipboard } from 'quasar';
import { api } from 'boot/axios';
import CollectionList from 'components/thingiverse/CollectionList.vue';

let collectionListResponse = [];

export default defineComponent({
  name: 'ThingiverseCard',

  components: {
    CollectionList,
  },

  props: {
    id: {
      type: Number,
      required: true,
    },

    title: {
      type: String,
      required: true,
    },

    author: {
      type: String,
      default: 'Unknown',
    },

    link: {
      type: String,
      default: '/',
      required: true,
    },

    imageLink: {
      type: String,
      default: '/',
      required: true,
    },

    likeLink: {
      type: String,
      default: '/',
      required: true,
    },

    likeCount: {
      type: Number,
      default: 0,
      required: false,
    },

    commentCount: {
      type: Number,
      default: 0,
      required: false,
    },
  },

  setup() {
    return {
      collectionList: collectionListResponse,
    };
  },

  mounted() {
    if (LocalStorage.has('ThingiverseAccessToken') && LocalStorage.has('ThingiverseUser')) {
      this.notConnected = false;
    }
    this.objectId = this.$props.id;
  },

  methods: {
    cardClick() {
      this.$router.push(`/thingiverse/${this.$props.link}`);
    },
    shareClick() {
      copyToClipboard(`https://3droid.h0st1ng.com/thingiverse/${this.$props.link}`)
        .then(() => {
          Notify.create({
            color: 'positive',
            position: 'top',
            message: 'Link copied into the clipboard',
            icon: 'check_circle',
          });
        })
        .catch(() => {
          Notify.create({
            color: 'negative',
            position: 'top',
            message: 'Fail to copy the link into the clipboard',
            icon: 'report_problem',
          });
        });
    },
    loadCollections() {
      if (collectionListResponse.length === 0) {
        if (LocalStorage.has('ThingiverseAccessToken') && LocalStorage.has('ThingiverseUser')) {
          const localToken = LocalStorage.getItem('ThingiverseAccessToken');
          const localUser = LocalStorage.getItem('ThingiverseUser');
          const axiosClientConfig = {
            headers: { Authorization: `Bearer ${localToken}` },
          };
          this.connected = true;
          api.get(`https://api.thingiverse.com/users/${localUser.name}/collections/true`, axiosClientConfig)
            .then((response) => {
              // eslint-disable-next-line no-console
              console.debug(response.data);
              response.data.forEach((element) => {
                collectionListResponse.push({
                  id: element.id,
                  name: element.name,
                });
              });
            })
            .catch(() => {
              Notify.create({
                color: 'negative',
                position: 'top',
                message: 'Loading failed',
                icon: 'report_problem',
              });
              this.errored = true;
            });
        }
      }
    },
    likeClick() {
      if (LocalStorage.has('ThingiverseAccessToken')) {
        const localToken = LocalStorage.getItem('ThingiverseAccessToken');
        const axiosConfig = {
          headers: { Authorization: `Bearer ${localToken}` },
        };
        if (this.liked === false) {
          api.post(this.$props.likeLink, null, axiosConfig)
            .then(() => {
              // eslint-disable-next-line no-console
              console.log(this.$props.likeCount);
              this.likeColor = 'red';
              this.likesCount += 1;
              this.liked = true;
            })
            .catch((e) => {
              // eslint-disable-next-line no-console
              console.error(e);
              Notify.create({
                color: 'negative',
                position: 'top',
                message: 'Thingiverse like failed',
                icon: 'report_problem',
              });
              this.errored = true;
            });
        } else {
          api.delete(this.$props.likeLink, axiosConfig)
            .then(() => {
              this.likeColor = 'grey';
              this.likesCount -= 1;
              this.liked = false;
            })
            .catch((e) => {
              // eslint-disable-next-line no-console
              console.error(e);
              Notify.create({
                color: 'negative',
                position: 'top',
                message: 'Thingiverse unlike failed',
                icon: 'report_problem',
              });
              this.errored = true;
            });
        }
      } else {
        Notify.create({
          position: 'top',
          message: 'Connect to Thingiverse to like a thing',
          type: 'warning',
        });
      }
    },
  },
  data() {
    return {
      loading: false,
      errored: false,
      likesCount: this.$props.likeCount,
      likeColor: 'grey',
      liked: false,
      notConnected: true,
      objectId: null,
    };
  },
  unmounted() {
    collectionListResponse = [];
  },
});
</script>
