<template>
  <q-card class="q-ma-md">
    <div v-ripple @click="cardClick()">
      <q-card-section style="max-height: 10vh">
        <div class="text-subtitle1 q-mb-xs">{{ title }}</div>
      </q-card-section>
      <q-img
        :src="imageLink"
        class="q-mt-md"
        style="// THIS IS FOR CENTERED IMG //
          display: block;
          margin-left: auto;
          margin-right: auto;"
      />
    </div>
  </q-card>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'ThingiverseCollectionCard',
  props: {
    id: {
      type: Number,
      default: 0,
      required: true,
    },

    title: {
      type: String,
      required: true,
    },

    imageLink: {
      type: String,
      default: '/',
      required: true,
    },
  },
  methods: {
    cardClick() {
      this.$router.push(`/thingiverse/collection/${this.$props.id}`);
    },
  },
  data() {
    return {
      loading: false,
      errored: false,
    };
  },
});
</script>
