<template>
  <q-page class="flex flex-center column">
    <h4>Octoprint Control</h4>
    <section v-if="errored">
      <h3>Error while accessing Octoprint API</h3>
    </section>
    <section v-else>
      <div v-if="loading">Loading ...</div>
      <div v-else>
        Printer Status : {{ printerState }}
      </div>
      <PrinterTemperatureComponent />
      <PrinterTemperatureControl />
      <PrinterMoveControl />
    </section>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import { useMeta, LocalStorage, useQuasar } from 'quasar';
import { api } from 'boot/axios';
import PrinterTemperatureComponent from 'components/octoprint/PrinterTemperatureComponent.vue';
import PrinterTemperatureControl from 'components/octoprint/PrinterTemperatureControl.vue';
import PrinterMoveControl from 'components/octoprint/PrinterMoveControl.vue';

const metaData = {
  title: 'Printer Control',
  titleTemplate: (title) => `3Droid - ${title}`,
};

export default defineComponent({
  name: 'Control',
  components: {
    PrinterTemperatureComponent,
    PrinterTemperatureControl,
    PrinterMoveControl,
  },
  setup() {
    useMeta(metaData);
  },
  data() {
    return {
      printerState: null,
      loading: false,
      errored: false,
    };
  },
  mounted() {
    const $q = useQuasar();
    const octoprintURL = LocalStorage.getItem('OctoprintURL');
    const octoprintApiKey = LocalStorage.getItem('OctoprintApiKey');

    const axiosConfig = {
      headers: { Authorization: `Bearer ${octoprintApiKey}` },
    };
    $q.loading.show();
    api.get(`${octoprintURL}/api/job`, axiosConfig)
      .then((response) => {
        // eslint-disable-next-line no-console
        console.debug(response.data.state);
        this.printerState = response.data.state;
      }).catch((e) => {
        $q.notify({
          color: 'negative',
          position: 'top',
          message: 'Loading failed',
          icon: 'report_problem',
        });
        // eslint-disable-next-line no-console
        console.error(e);
        this.errored = true;
      })
      .finally(() => {
        this.loading = false;
        $q.loading.hide();
      });
  },
});
</script>
