<template>
  <q-page class="flex flex-center column">
    <h4>Octoprint FileList</h4>
    <section v-if="errored">
      <h3>Error while accessing Octoprint API</h3>
    </section>
    <section v-else>
      <div v-if="loading">Loading ...</div>
      <div v-else>
        <q-list bordered>
          <OctoFilesComponent
            v-for="file in fileList"
            :key="file.name"
            v-bind="file"
            :name="file.name"
            :link="file.link"
            :path="file.path"
            :size="file.size"
            :date="file.date"
            :layers="file.layers"
          />
        </q-list>
      </div>
    </section>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import { useMeta, LocalStorage, useQuasar } from 'quasar';
import { api } from 'boot/axios';
import OctoFilesComponent from 'components/octoprint/OctoFilesComponent.vue';

const metaData = {
  title: 'File List',
  titleTemplate: (title) => `3Droid - ${title}`,
};

let FileList = [];

export default defineComponent({
  name: 'FileList',
  components: {
    OctoFilesComponent,
  },
  setup() {
    useMeta(metaData);
    return {
      fileList: FileList,
    };
  },
  data() {
    return {
      loading: true,
      errored: false,
    };
  },
  mounted() {
    const $q = useQuasar();
    const octoprintURL = LocalStorage.getItem('OctoprintURL');
    const octoprintApiKey = LocalStorage.getItem('OctoprintApiKey');

    const axiosConfig = {
      headers: { Authorization: `Bearer ${octoprintApiKey}` },
    };
    $q.loading.show();
    this.loading = true;
    api.get(`${octoprintURL}/api/files`, axiosConfig)
      .then((response) => {
        response.data.files.forEach((element) => {
          FileList.push({
            name: element.name,
            link: `${octoprintURL}/api/files/${element.origin}/${element.path}`,
            path: element.path,
            size: element.size,
            date: element.date,
            layers: element.DisplayLayerProgress?.totalLayerCountWithoutOffset,
          });
        });
      }).catch((e) => {
        $q.notify({
          color: 'negative',
          position: 'top',
          message: 'Loading failed',
          icon: 'report_problem',
        });
        // eslint-disable-next-line no-console
        console.error(e);
        this.errored = true;
      })
      .finally(() => {
        this.loading = false;
        $q.loading.hide();
      });
  },
  unmounted() {
    FileList = [];
  },
});
</script>
