<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title> {{ $route.name }} </q-toolbar-title>

        <div>
          <q-toggle
            class="gt-sm"
            v-model="DarkModeToggle"
            color="black"
            label="Dark Mode"
            checked-icon="dark_mode"
            unchecked-icon="light_mode"
            left-label
            size="lg"
          />
          <q-toggle
            class="lt-md"
            v-model="DarkModeToggle"
            color="black"
            checked-icon="dark_mode"
            unchecked-icon="light_mode"
            left-label
            size="lg"
          />
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered>
      <q-list>
        <q-item-label header> 3Droid </q-item-label>

        <EssentialLink
          v-for="link in appLinks"
          :key="link.title"
          v-bind="link"
        />
        <q-separator class="q-ma-md" inset="EssentialLink" />
        <q-item-label header> Thingiverse </q-item-label>

        <EssentialLink
          v-for="link in thingiLinks"
          :key="link.title"
          v-bind="link"
        />
        <q-separator class="q-ma-md" inset="EssentialLink" />
        <q-item-label header> Octoprint </q-item-label>

        <EssentialLink
          v-for="link in octoLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue';

const appLinksList = [
  {
    title: 'Home',
    caption: '',
    icon: 'home',
    link: '/',
  },
  {
    title: 'About',
    caption: '',
    icon: 'info',
    link: '/about',
  },
  {
    title: 'Login',
    caption: '',
    icon: 'lock',
    link: '/auth',
  },
  // {
  //   title: '3D Visualization',
  //   caption: '',
  //   icon: '3d_rotation',
  //   link: '/3DVisualizer',
  // },
];
const thingiLinksList = [
  {
    title: 'Popular Designs',
    caption: '',
    icon: 'dashboard',
    link: '/thingiverse/popular',
  },
  {
    title: 'Search',
    caption: '',
    icon: 'search',
    link: '/thingiverse/search',
  },
  {
    title: 'My Likes',
    caption: '',
    icon: 'favorite',
    link: '/thingiverse/likes',
  },
  {
    title: 'My Collections',
    caption: '',
    icon: 'collections_bookmark',
    link: '/thingiverse/collections',
  },
];
const octoLinksList = [
  {
    title: 'Status',
    caption: '',
    icon: 'visibility',
    link: '/octoprint/status',
  },
  {
    title: 'Control',
    caption: '',
    icon: 'games',
    link: '/octoprint/control',
  },
  {
    title: 'Files List',
    caption: '',
    icon: 'description',
    link: '/octoprint/files',
  },
];

import { defineComponent, ref } from 'vue';
import { LocalStorage, Dark } from 'quasar';

export default defineComponent({
  name: 'MainLayout',

  components: {
    EssentialLink,
  },

  setup() {
    const leftDrawerOpen = ref(false);
    let darkModeLocal = true;
    if (LocalStorage.has('darkMode')) {
      darkModeLocal = LocalStorage.getItem('darkMode');
    }
    Dark.set(darkModeLocal);
    return {
      appLinks: appLinksList,
      thingiLinks: thingiLinksList,
      octoLinks: octoLinksList,
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
      DarkModeToggle: ref(darkModeLocal),
    };
  },
  watch: {
    DarkModeToggle() {
      Dark.set(this.DarkModeToggle);
      LocalStorage.set('darkMode', this.DarkModeToggle);
    },
  },
});
</script>
